html {
	padding: 0 1rem;
}
body {
	margin: auto;
	max-width: 50rem;
	font-family: sans-serif;
}
.menu, .language {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0.2rem;
}
.menu a, .language a {
	border: 1px solid #000000;
	color: #000000;
	flex-grow: 1;
	float: left;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 0.6rem;
	text-align: center;
	text-decoration: none;
}
.menu {
	max-width: 50rem;
}
.language {
	max-width: 20rem;
}
