:root{
	--positive-color: #000000;
	--negative-color: #adadad;
	--secondary-color: #404040;
}
html {
	padding: 0 1rem;
}
body {
	color: var(--positive-color);
	background-color: var(--negative-color);
	margin: auto;
	max-width: 50rem;
	font-family: sans-serif;
}
.menu, .language {
	display: flex;
	flex-wrap: wrap;
	padding: 0.2rem;
}
.menu a, .language a {
	border: 1px solid var(--positive-color);
	color: var(--positive-color);
	flex-grow: 1;
	float: left;
	font-weight: bold;
	line-height: 1;
	margin: 0;
	padding: 0.6rem;
	text-align: center;
	text-decoration: none;
}
.menu {
	max-width: 50rem;
}
.menu .active {

}
.language {
	max-width: 20rem;
}
